/* * {
    cursor: url('../../images/cursor.png'), auto;
    
  } */

.doctor-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}
.left-section{
    width: 75%;
    height:100%;
    background-image: url('/images/alvas_low_opc.png');
    background-repeat: no-repeat;
    /* opacity: 0.75; */
    background-size: auto;
    background-attachment: fixed;
  background-position: center;
}
.right-section{
    width: 20%;
    height: 100%;
}


.timeline {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  .timeline-item {
    display: flex;
    flex-direction: row;
    margin: 10px ;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  .timeline-date {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    color:#7883b1;
    font-weight: 600;
  }
  
  .timeline-content {
    flex: 1;
  }
  
  .timeline-content h3 {
    font-size: 18px;
    margin-top: 0;
  }
  
  .timeline-content p {
    font-size: 14px;
    margin-bottom: 0;
  }
  .notif{
    color: #2f4393;
    font-weight: 800;
  }
  
  .timeline h4{
    color: #5d6dab;
    font-weight: 600;
  }
