body{
  margin: 0px;
}
.navbar{
    background: #293369;
    min-width: auto;
    height: 3rem;
    color:#ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    overflow: hidden; 
   
  }
  
i{
    font-size: 30px;
    padding-bottom: 5px;
    color: #ffffff;
  }
.profile{
    display: flex;   
    justify-content: space-around;
    align-items: center;
    width: 15%;
}
    



  h1{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    padding: auto;
    color: #ffffff;
    }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  @media screen and (max-width:800px) {
    .navbar{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      min-width: 400px;
      height:8.5rem;
    }
    
    h1{
      margin: 0px;
      font-size: 30px;
      
    }
    .fullScreen{
        display: none;
    }
    h3{
        margin: 0px;
        font-size: 14px;
    }
    .profile{
      width: 40%;
    }
  }
