doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link.css(rel="stylesheet", href="css/login/login.css")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css", rel="stylesheet")
		title LOGIN FORMS
	body
		.loginform
			h2#headerTitle Login page
			form#myForm(method="post")
				div(className="row")
					label Username
					input#username(type="text", placeholder="Enter the username", name="username", required)
				.space
				div(className="row")
					label Password
					input#password(type="password", placeholder="Enter the password", name="password", required)
				.space
				#button(className="row")
					button(type="submit") Submited
		//- script(src="/public/js/Utils/generateToken.js")
		//- script(src="/static/js/Utils/requestor.js")
		//- script(src="/static/js/login/login.js")
