title #{title}
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
link(href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700", rel="stylesheet", type="text/css")
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="/css/components/form.css")
script(src="/js/Utils/generateId.js")
script(src="/js/Utils/requestor.js")
script(src="/js/receptionist/admissionPatient.js")
.container
  form#admissionForm(method="POST")
    h3 PERSONAL DETAILS
    hr(size, color="#bdbdbd")
    .row
      .col-third
        h4 First Name<span style="color:red">&ensp;*</span>
        .input-group.input-group-icon
          input#Fname.req(type="text",name="FName" placeholder="Full Name" required )
          .input-icon
            i.fa.fa-user
      .col-third
        h4 Middle Name
        .input-group.input-group-icon
          input#Mname.req(type="text",name="MName" placeholder="Middle Name")
          .input-icon
            i.fa.fa-user
      .col-third
        h4 Last Name<span style="color:red">&ensp;*</span>
        .input-group.input-group-icon
          input#Lname.req(type="text",name="LName" placeholder="Last Name" required)
          .input-icon
            i.fa.fa-user
      //-     i.fa.fa-key
    
    .row
      .col-third
        h4 Date of Birth<span style="color:red">&ensp;*</span>
        .input-group.input-group-icon
          input#dob.req(type="date" name="dob" required)
          .input-icon 
            i.fa.fa-birthday-cake
      .col-fourth
        h4 Age<span style="color:red">&ensp;*</span>
        .input-group
          input#age.req(type="number",name="number" placeholder="Age" required  disabled)
      .col-third
        h4 Gender<span style="color:red">&ensp;*</span>
        .input-group
          input#gender-male.req(type="radio", name="gender", value="male" )
          label(for="gender-male") Male
          input#gender-female.req(type="radio", name="gender", value="female")
          label(for="gender-female") Female
    .row 
      .col-half 
        h4 Phone number<span style="color:red">&ensp;*</span> 
        .input-group.input-group-icon
          input#phone.req(type="number",name="number" placeholder="Phone number" required)
          .input-icon
            i.fa.fa-phone
      .col-half 
        h4 Email 
        .input-group.input-group-icon
          input#email.req(type="email",placeHolder="Email Address")
          .input-icon 
            i.fa.fa-envelope
    .br
    h3 ADDRESS    
    hr(size, color="#bdbdbd")      
    .row
      .col-third
        h4 City<span style="color:red">&ensp;*</span>
        .input-group.input-group-icon
          input#city.req(type="text",name="city" placeholder="City" required )
          .input-icon
            i.fa.fa-flag
      .col-third
        h4 State<span style="color:red">&ensp;*</span>
        .input-group.input-group-icon
          select#state.req 
            
      .col-third
        h4 Country
        .input-group 
          select#country.req
            option Select country
      
    .row
      .col-half
        h4 Address<span style="color:red">&ensp;*</span>
        .input-group.input-group-icon
          input#address.req(type="text" value="Alvas" placeholder="Address" required )
          .input-icon
            i.fa.fa-map
      .col-third 
        h4 Street 
        .input-group.input-group-icon
          input#street.req(type="text",name="number" placeholder="Street")
          .input-icon
            i.fa.fa-map

    hr(size, color="#bdbdbd")  

    
    .row.button
      .col-half
        input#button.req(type="submit", value="submit")
    .row
