link.css(rel="stylesheet", href="/css/components/table.css")

.table-wrapper
  table.fl-table
    thead
      tr
        th Header 1
        th Header 2
        th Header 3
        th Header 4
        th Header 5
    tbody
      tr
        td Content 1
        td Content 1
        td Content 1
        td Content 1
        td Content 1
      tr
        td Content 2
        td Content 2
        td Content 2
        td Content 2
        td Content 2
      tr
        td Content 3
        td Content 3
        td Content 3
        td Content 3
        td Content 3
      tr
        td Content 4
        td Content 4
        td Content 4
        td Content 4
        td Content 4
      tr
        td Content 5
        td Content 5
        td Content 5
        td Content 5
        td Content 5
      tr
        td Content 6
        td Content 6
        td Content 6
        td Content 6
        td Content 6
      tr
        td Content 7
        td Content 7
        td Content 7
        td Content 7
        td Content 7
      tr
        td Content 8
        td Content 8
        td Content 8
        td Content 8
        td Content 8
      tr
        td Content 9
        td Content 9
        td Content 9
        td Content 9
        td Content 9
      tr
        td Content 10
        td Content 10
        td Content 10
        td Content 10
        td Content 10
    tbody.
      
      