html
  head
   link.css(rel="stylesheet", href="/css/notFound/notfn.css")
   title #{title}
  body
    a(href='#', target='_blank')
      header.top-header
      // dust particel
      div
        .starsec
        .starthird
        .starfourth
        .starfifth
      // Dust particle end-
      .lamp__wrap
        .lamp
          .cable
          .cover
          .in-cover
            .bulb
          .light
      // END Lamp
    section.error
      
      .error__content
        a(href='#', target='_blank')
          .error__message.message
            h1.message__title #{heading}
            p.message__text #{message}
                
        .error__nav.e-nav
          a(href='#', target='_blank')
          a.e-nav__link(href='', target='_blanck')
      // END Content