title #{title}
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
link(href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700", rel="stylesheet", type="text/css")
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="/css/components/form.css")
script(src="/js/Utils/generateToken.js")
script(src="/js/Utils/requestor.js")
script(src="/js/Manager/registerEmployee.js")

.container
  form#regEmployeeForm
    h3 EMPLOYEE DETAILS
    hr(size, color="#bdbdbd")
    .row
      .col-third
        h4 First Name<span style="color:red">&ensp;*</span>
        .input-group.input-group-icon
          input#Fname.req(type="text",name="FName" placeholder="Full Name" )
          .input-icon
            i.fa.fa-user
      .col-third
        h4 Middle Name
        .input-group.input-group-icon
          input#Mname.req(type="text",name="MName" placeholder="Middle Name")
          .input-icon
            i.fa.fa-user
      .col-third
        h4 Last Name<span style="color:red">&ensp;*</span>
        .input-group.input-group-icon
          input#Lname.req(type="text",name="LName" placeholder="Last Name")
          .input-icon
            i.fa.fa-user
 
    .row
      .col-third
        h4 Date of Birth<span style="color:red">&ensp;*</span>
        .input-group
          input#dob.req(type="date" name="dob")
      .col-third 
        h4 Gender<span style="color:red">&ensp;*</span>
        .input-group
          input#gender-male.req(type="radio", name="gender", value="male")
          label(for="gender-male") Male
          input#gender-female.req(type="radio", name="gender", value="female")
          label(for="gender-female") Female
      .col-fourth
        h4 Age<span style="color:red">&ensp;*</span>
        .input-group 
          input#age.req(type="number",name="number" placeholder="Age" min="1" max="100")
    .row
      .col-half
        h4 Phone number<span style="color:red">&ensp;*</span> 
        .input-group.input-group-icon
          input#phone.req(type="number",name="number" placeholder="Phone number")
          .input-icon
            i.fa.fa-phone
    
      .col-half
        h4 Email<span style="color:red">&ensp;*</span>
        .input-group.input-group-icon
          input#Lname.req(type="text",name="Email" placeholder="Email address")
          .input-icon
            i.fa.fa-user
      
     
    h3  
    hr(size, color="#bdbdbd")  
    .row
      .col-half
        h4 Address 
        .input-group 
          input#address.req(type="text" placeholder="Address" ) 
      .col-third
        h4 Zip<span style="color:red">&ensp;*</span>
        .input-group 
          input#city.req(type="number",name="Zip" placeholder="Zip Code"  )   
    .row
      .col-third
        h4 City<span style="color:red">&ensp;*</span>
        .input-group 
          input#city.req(type="text",name="city" placeholder="City"  )
      .col-third
        h4 State
        .input-group 
          input#state.req(type="text",name="city" placeholder="State"  )
      .col-fourth
        h4 Country
        .input-group 
          input#country.req(type="text",name="city" placeholder="Country"  )
      
      
      
    
    p 
    hr(size, color="#bdbdbd")  

    .row
      br
      h4 Terms and Conditions
      .input-group
        input#terms(type="checkbox")
        label#term(for="terms") 
    .row.button
      .col-half
        input#button.req(type="submit", value="submit")
    .row
