title #{title}
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
link(href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700", rel="stylesheet", type="text/css")
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="/css/components/form.css")
script(src="/js/Utils/requestor.js")
script(src="/js/receptionist/preSchedule.js")

.container(style="margin-top:10%")
  form#preScheduleForm(method="post")
    .row
      .input-group
        input#doctor.req(type="radio", name="role", value="doctor" disabled)
        label(for="doctor") Doctor
        input#receptionist.req(type="radio", name="role", value="receptionist" disabled)
        label(for="receptionist") Receptionist
    hr(color="#bdbdbd")
    br
    br
    .row
        .col-half 
            h4 Doctor Name 
            .input-group.input-group-icon
                input#name.distext.req(type="text", placeHolder="Doctor Name" name="name" required )
                .input-icon
                    i.fa.fa-user
        .col-half
            h4 Doctor Id
            .input-group.input-group-icon
                input#did.distext.req(type="text", placeHolder="Doctor ID" name="did" required )
                .input-icon
                    i.fa.fa-user
    br
    br
    hr(color="#bdbdbd")
    br

    .row.button
      .col-half
        input#button.req(type="submit", value="submit")
    .row
