link(rel="stylesheet", type="text/css", href="/css/sidebar/sidebar.css")
link(rel="stylesheet", type="text/css", href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
nav.main-menu
  div
    a.logo(href="#") 
      i.fa.fa-home.fa-lg
  .settings
  .scrollbar#style-1
    ul
      each val,key in controlles
        li
          a(href=val.linkUrl)
            i.fa.fa-lightbulb-o.fa-lg
             
            span.nav-text #{val.linkName}
              
      //- li 
      //-   a(href="#")
      //-     i.fa.fa-user.fa-lg
      //-     span.nav-text Login
      //- li
      //-   a(href="#")
      //-     i.fa.fa-envelope-o.fa-lg
      //-     span.nav-text Contact
      //- li
      //-   a(href="#")
      //-     i.fa.fa-heart-o.fa-lg
      //-     span.nav-text Like
      li
        a
          i

  ul.logout
    li
      a(href="/")
        i.fa.fa-home.fa-lg
        span.nav-text   Log Out


            