link.css(rel="stylesheet", href="/css/navbar/navbar.css")
nav.navbar
    .s
    h1 AYURVAS
    .profile
        h7 #{message}
        i.fa-solid.fa-user.arrow
    .s
            
            
        