doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
        link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
        link(rel="stylesheet", href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css")
        script(type="text/javascript", src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js")
        script(type="text/javascript", src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
        link(rel="stylesheet", href="/css/manager/manager.css")
        script(src="https://cdn.jsdelivr.net/npm/chart.js")
        script(src="/js/manager/graph.js") 
        script(src="/js/Utils/requestor.js")
        title Document
    body 
        include ../Navbar/navbar.pug
        include ../Sidebar/sidebar.pug  
            .manager-section 
                .left-section.flex-col.space-between
                    .graph1-div.flex-row
                        .halfgrpah 
                            canvas#canvas1(width='500rem')
                        .halfgrpah
                            canvas#canvas2(width='500rem')
                    //- .graph2-div
                    //-     canvas#canvas3
                      
                //- .right-section
                    .tab-content
                        .timeline
                            h4 Notifications
                            .timeline-item
                                .timeline-date 
                                    .notif-date Jan 1, 2022 
                                .timeline-content
                                    h6.notif Appointment with Mgr. Smith
                                    p Planning for next phase
                            .timeline-item
                                .timeline-date 
                                    .notif-date Mar 15, 2022
                                .timeline-content
                                    h6.notif Emergency Room Visit
                                    p Severe chest pain. Admitted to hospital for 
                            .timeline-item
                                .timeline-date  
                                    .notif-date Apr 1, 2022
                                .timeline-content
                                    h6.notif Follow-up Appointment with Dr. Smith
                                    p Test results indicate heart condition. Referred to specialist.
