.navbar {
  margin: 0;
  padding: 0;
}
.nav {
  width: 100%;
  background-color: #293369;
}

.active {
  background-color: #f7f7fa;
}

p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 10px;
}

.examin-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70rem;
}
.nav .navName {
  font-size: 14px;

  text-align: center;
  font-weight: 700;
}
.nav-link:hover {
  color: #ddd;
  box-shadow: 1px 1px 5px #ffffff;
}
.tab-content {
  height: 90%;
  width: 95%;
}
.tab-content .tab-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.left-pane {
  width: 70%;
  height: 120%;
}
.right-pane {
  width: 25%;
  height: 110%;
  background-color: #f6f6f6;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
}

.details-heading {
  height: 4rem;
  padding: 5px;
  background-color: #293369;
  color: #f6f6f6;
  font-weight: 600;
}
.details-text {
  color: #293369;
  height: 45%;
}
.details-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.details-row .header {
  font-weight: 600;
}

.heading {
  font-size: 0.8rem;
  height: 2%;
  font-weight: bold;
  text-align: center;
  background-color: #2d397c;
  color: #828592;
}
.case-history {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  text-align: center;
  row-gap: 2rem;
  padding: 10px;
}

#case-container {
  overflow-y: scroll;
}
#case-container::-webkit-scrollbar {
  /* width: 5px; */
  display: none;
}
/* #case-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px grey;
  border-radius: 10px;
}
#case-container::-webkit-scrollbar-thumb {
  background-color: #2d397c;
  outline: 1px solid slategrey;
  border-radius: 10px;
} */

/* #case-container {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} */

.case-history .history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30rem;
}

.case-details {
  background-color: #f0f0f0;
  width: 95%;
  border-radius: 20px;
}
.history .path {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 27.5rem;
  width: 3%;
}
.history .column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 45%;
}
.history .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  border: 2px #293369;
  color: #e9e9e9;
}
.history .line {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    196deg,
    rgb(143, 140, 210) 0%,
    rgb(39, 39, 159) 40%,
    rgb(164, 184, 211) 80%
  );
  z-index: -1;
  width: 50%;
  height: 115%;
  border-radius: 20px;
}
.history .dot {
  display: flex;
  justify-content: center;
  align-items: center;
   width: 35%;
  height: 70%;
  border-radius: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    196deg,
    rgb(143, 140, 210) 0%,
    rgb(39, 39, 159) 40%,
    rgb(164, 184, 211) 80%
  );
}

#white {
  width: 30%;
}

.history .details-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15%;
}

.history .case-name{
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  width: 70%;
  color: #2d397c;
  font-weight: 800;
  font-size: medium;

}


.history .timing{
  width: 28%;
  color: #2d397c;
  font-weight: 900;
  font-size: small;
  border-radius: 0 10px 0 0;
  background-color: #ffffff;
  box-shadow: 1px 1px 2px #bababa;
}

.history  .details-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 80%;
}

.details-body .profile{
  background-color: #f6f6f6;
  width: 25%;
  height: 100%;
  border-radius: 0 40px 0 0;
  box-shadow: 1px 1px 10px #bababa;
}

.profile .doc-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}
.profile .doc-name{
  height: 20%;
  font-weight: 800;
  color: #293369;
  text-align: center;
}
.profile .doc-name p{
  padding: 0;
}
.rounded-box{
  width: 10rem;
  height: 10rem;
  background-color: #ddd;
  border-radius: 50%
}

.details-body .details{
  width: 50%;
  height: 100%;
}

.history .details-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color:#293369;
  width: 100%;
  height: 15%;
}
.details-body .details{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.details-body h5{
  font-size: medium;
  font-weight: 700;
  color: #293369;
  padding-left: 1rem;
}
.details p{
  padding-left: 4rem;
  font-size: small;
  font-weight: 600;
}
.prescription li{
  margin:5px;
  margin-left: 2rem;
  font-size: small;
  font-weight: 600;
}

.details-body .vitals{
  width: 25%;
}

.vital-details{
  
  height: 100%;
  color: #293369;
}
.white{
  background-color: white;
  box-shadow: 1px 1px 5px #bababa;
  margin: 2px;
}

.physical-details-form{
   
  height: 96%;
}
 

/* form css */

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
 /* max-width: 90%; */
}

.row h5{
  font-weight: 600;
  color: #293369;
}
#submit-button{
  padding:10% 30% 0 30% ;
}
.input-group{
  height: 2rem;
}

input,

input[type="checkbox"] + label:before,
select option,
select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  /* border: 1px solid #e5e5e5; */
  border: none;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
input:focus {
  outline: 0;
  border-color: #25358f;
}
input:focus + .input-icon i {
  color: #25358f;
}
input:focus + .input-icon:after {
  border-right-color: #25358f;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 0;
}
select{
  display: inline-block;
  width: 70%;
  text-align: center;
  float: left;
  border-radius: 0;
}
input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
input[type="radio"] + label i {
  padding-right: 0.4em;
}
input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
  background-color: #25358f;
  color: #fff;
  border-color: #25358f;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}
.button{
  display:flex;
  justify-content: center;
  align-items: center;

}
input[type="time"], input[type="date"]{
  font-size: medium;
  text-align: center;
}
p{
  font-size: medium;
  font-weight: 600;
}
input[type="button"]{
  width: 70%;
  color: #909090;
}
input[type="button"]:hover{
  width: 70%;

  box-shadow: 2px 2px 5px #25358f;
  color: white;
}
input[type="number"]{
  background-color: #f6f6f6ef;
}
input[type="number"]:hover, input[type="submit"]:hover, input[type="text"]:hover{
  background-color: #1d2c7f;
  color: #ffffff;
}

/* input[type="submit"]{
  color: #9c9c9c;
  font-size: medium;
  font-weight: 600;
  background-color: #efefef;

} */

input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0; 
  display: block;
  width: 4em;
  height: 2em;
  padding: 0;
  content: "";
  border-radius: 70%;
  box-shadow: 2px 2px 5px #b5b5b5;
}

input[type="checkbox"] + label:after {
  position: relative;
  top: 1em;
  left: 0.2em;
  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
  box-shadow: 2px 2px 5px #25358f;

}

input:checked + label:after {
  opacity: 1;
}
input[type='checkbox']{
  right: 1em;
}
#time-period{
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbtn{
  display: flex; 
  justify-content: center;
  align-items: center;
}

#submit-btn{
  color: #2d397c;
  font-weight: 600;
}
#submit{
  color: #2d397c;
  font-weight: 600;
}
.checkbtnbox{
  display: flex; 
  justify-content: space-around;
  align-items: center;
}
select {
  height: 3.4em;
  line-height: 2;
}
select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
select:focus,
select:active {
  outline: 0;
}
option {
  background-color: #eaeaea;
  border: none;
  color: #9f9f9f;
  text-align: center;
  font-weight: 600;
}
option:hover {
  background-color: #b82222;
  color: #fff;
}


.input-group {
  margin-bottom: 1em;
  zoom: 1;
}
.input-group:before,
.input-group:after {
  content: "";
  display: table;
}
.input-group:after {
  clear: both;
}
.input-group-icon {
  position: relative;
}
.input-group-icon input {
  padding-left: 4.4em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}

.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
input[type="text"]{
  font-size: medium;
  color:#909090;
  background-color: #f6f6f6ef;
}

 

 
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}
.col-half:last-of-type {
  padding-right: 0;
}
.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}
.col-third:last-of-type {
  padding-right: 0;
}
.col-fourth {
  padding-right: 10px;
  float: left;
  width: 25%;
}
.col-fourth:last-of-type {
  padding-right: 0;
}


.col-fifth {
  padding-right: 10px;
  float: left;
  width: 15%;
}
.col-fifth:last-of-type {
  padding-right: 0;
}
 
.time{
  padding-top: 3%;
  height: 3rem;
  border-radius: 30%;
  border:5px black
 }


 #Drugtable{
  box-shadow: 1px 1px 5px lightgrey;
}
table {
  width: 100%;
  border-collapse: collapse;

}
th, td {
  border: none;
  padding: 8px;
  text-align: left;  
}

th {
  background-color: lightgrey;
}
tr:hover{
  font-size:medium;
  transition: all 0.35s ease-in-out;
  background-color: #25358f;
  color:white
}

/* #button{
  border: none;
  color:#909090;
  font-size:medium;
  width: 5rem;
  height: 2rem;
  border-radius: 3rem;
}
#button:hover{
  background-color: #1c2870;
  box-shadow: 1px 1px 2px rgb(255, 255, 255);
  color: white;
} */
button {
  color:#25358f;
  border: none;
  background-color: #b3b6c8;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 2px #ffffff;
  transition: all 0.3s;
  font-weight: 600;
}

button:hover {
  color: white;
  box-shadow: 2px 2px 5px #8491d9;
}

button:active {
  transform: translateY(3px);
  
  color: #f9f9f9;
  box-shadow: 1px 1px 2px #8491d9;
  /* box-shadow: 0px 0px 10px rgba(0,0,0,0.5); */
}
.center{
  padding-left: 45%;
}

@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
  .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .col-third{
    width: 100%;
    padding-right: 0;
  }
  .col-fourth{
    width: 100%;
    padding-right: 0;
  }
}


.req-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.check-Box{
  width: 43%;
  height: 100%;
  margin-top: 2rem;
  /* background-color: #fafafa; */
}

.note-Box{
  width: 55%;
  height: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

input[type='radio']+label{
  background-color: #efefef;
}

.test-radio-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.test-radio-btn h5{
 margin-bottom: 2rem;
 color: #293369;
 font-weight: 600;
}

.test-selector{
  width: 50%;
  height: 70%;
}

input[type="radio"] + label{
  padding: 5px;
  color: #2d397c;

}

.xRay{
  height: 30%;
  width: 100%;
}
.usg{
  height: 30%;
  width: 100%;
}
.other-test{
  height: 30%;
  width: 100%;
}

.textarea{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.note-Box #text {
	width:500px;
  height: 200px;
	overflow:hidden;
	background-color:#FFF;
	color:#293369;
  border: none;
	font-family:Courier, monospace;
	font-weight:600;
	font-size:20px;
	resize:none;
	line-height:40px;
	padding-left:30px;
	padding-right:20px;
	padding-top:25px;
	padding-bottom:25px;
	 
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: 0px 2px 14px #000000;
	box-shadow: 0px 2px 14px #000;
	 
}


#Drugtable{
  box-shadow: 1px 1px 5px lightgrey;
}


#listDrug{
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.drug-heading{
  color: whitesmoke;
  background-color: #293369;
  font-size: medium;
  font-weight: 600;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  text-align: center;
  padding-top: 5px;
}
#reporting h4{
  color:#293369;
  font-size: medium;
  font-weight: 600;
  
}